:root {
  --text: #9ca3af;
  --bg: #16171d;
  --font: system-ui, Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px var(--font);
  color-scheme: only dark;
  color: var(--text);
  background: var(--bg);
}

body {
  margin: 0;
}